<!-- Form for entering the code received -->
<%= form_tag(confirm_code_path(mobile_number)) do %>
  <label class="col-2 col-form-label">Enter the code you have received</label>
  <div class="col-10">
  	<%= text_field_tag(:code) %>
  </div>
  <br/>s
  <%= submit_tag("Confirm", class: "btn btn-default") %>
<% end %>
